{% extends "layouts.html" %}

{% block content %}
<div class="container mt-5">
  {% macro render_field(field) %}
    <dt>{{ field.label }}</dt>
    <dd>{{ field()|safe }}</dd>
    {% if field.errors %}
      <ul class="errors">
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card shadow-sm"> 
        <h5 class="card-header bg-success text-white text-center py-3">Página de Login</h5>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="mb-3">
                  {{ render_field(form.email) }}
                </div>
                <div class="mb-3">
                  {{ render_field(form.senha) }}
                </div>
              </div>
            </div>
            <div class="text-center">
              <input type="submit" value="Login" class="btn btn-success btn-lg px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

